<style>
  .navbar-light{
    background-color: darkred;
  }
   #myAccount{
      display: none;
    }
  li{
    color: red;
  }
  @media only screen and (max-width: 414px) {
    .navbar-toggler{
      margin-left: 0%;
    }
    .nav-link{
      color:black;
      font-weight: bold;
    }
     #myAccount{
      display:block;
    }
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light"> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{!-- @navbar item home --}}
      <li class="nav-item active">
        <a class="nav-link" href="/" style="font-weight:bold">Home <span class="sr-only">(current)</span></a>
      </li>
      {{!-- @navbar item about us--}}
      <li class="nav-item"><a class="nav-link active" href="/login" style="font-weight:bold">Login</a></li>
      {{!-- @dropdown menu for volunteer --}}
      {{!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight:bold">
          Volunteer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/public/pdf/Volunteering-Page.pdf" style="font-weight:bold">Become a volunteer</a>
          <a class="dropdown-item" href="#"style="font-weight:bold">Our Volunteer</a>
        </div>
      </li> --}}
      {{!-- @dropdown menu for Our teachers --}}
      {{!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight:bold">
          Our Teachers
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/vipCoach" style="font-weight:bold">VIP Coaches</a>
          <a class="dropdown-item" href="/teacher"style="font-weight:bold">Our Teachers</a>
        </div>
      </li> --}}
      {{!-- @dropdown menu for Parent&students --}}
      {{!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight:bold">
          Parents & Students
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/public/pdf/Calendar.pdf" style="font-weight:bold">Calendar</a>
          <a class="dropdown-item" href="/public/pdf/Coaching.pdf"style="font-weight:bold">Study Guide</a>
          <a class="dropdown-item" href="/public/pdf/Student_Media_Consent_Form.pdf"style="font-weight:bold">Media Consent Form</a>
        </div>
      </li> --}}
      {{!-- @dropdown menu for sponsors --}}
      {{!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight:bold">
          Sponsors
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/public/pdf/Sponsorship-Package.pdf" style="font-weight:bold">Sponsorship Package</a>
          <a class="dropdown-item" href="/public/pdf/Sponsor-Registration.pdf"style="font-weight:bold">Become a sponsor</a>
        </div>
      </li> --}}
      {{!-- @dropdown menu for competition --}}
      {{!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight:bold">
          Regional Competition
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/public/pdf/Competition-Rules.pdf" style="font-weight:bold">Competition Rules</a>
          <a class="dropdown-item" href="/registerindividual" style="font-weight:bold">Individual Enrollment</a>
          <a class="dropdown-item" href="/registergroup"style="font-weight:bold">School Enrollment</a>
        </div>
      </li>
      <li class="nav-item dropdown" id="myAccount">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight:bold">
          My Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/signup.js" style="font-weight:bold">Sign Up</a>
          <a class="dropdown-item" href="/admin.js" style="font-weight:bold">My Account</a>
        </div>
      </li> --}}
    {{!-- <li class="nav-item"><a class="nav-link active" href="/register" style="font-weight:bold">Coaching Program</a></li> --}}
    </ul>
  </div>
</nav>